.card {
  color: #333;
  height: 30rem;
  &:hover {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 1);
    box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 1);
  }
  .card-text {
    color: #6c757d;
  }
  .text-price {
    text-align: right;
    font-weight: bold;
  }
}

.box-cart {
  position: relative;
  .num-cart {
    position: absolute;
    background-color: red;
    color: #fff;
    padding: 5px;
    width: 20px;
    height: 20px;
    line-height: 10px;
    border-radius: 50%;
    font-size: 0.65rem;
    top: -8px;
    left: 30px;
  }
}

.list {
  .box-products {
    padding: 20px;
    &:hover {
      -webkit-box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 1);
      -moz-box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 1);
      box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 1);
    }
    .box-img {
      background-color: #fff;
      border: solid 1px #ddd;
      padding: 10px;
    }
    .content {
      color: #6c757d;
    }
    .text-price {
      text-align: right;
      font-weight: bold;
      color: #6c757d;
    }
  }
}
